.Converter {
  background-color: rgb(167, 168, 168);
  width: 300px;
  height: 310px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1%;
}

.forms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.dropdown {
  border-style: none;
  font-size: 15px;
  height: 1.5rem;
  width: 128px;
}

label {
  margin-bottom: 0.2rem;
  font-size: large;
}

.inputContainer {
  margin-bottom: 0.5rem;
}

input {
  width: -webkit-fill-available;
  font-size: large;
  border-style: none;
  padding: 0.5rem;
}

.resultContainer {
  background-color: white;
}

.resultText {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: scroll;
  font-size: 1.5rem;
  height: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
  margin: auto;
  width: 100%;
  color: white;
  background-color: #373c47;
  border-style: none;
  padding: 1rem;
  font-size: large;
}

.btn:hover {
  background-color: rgb(170, 62, 43);
}
